.idea/encodings.xml
.idea/idc-api.iml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
wp-test/.idea/encodings.xml
wp-test/.idea/modules.xml
wp-test/.idea/workspace.xml
wp-test/.idea/wp-test.iml
wp-test/.vagrant/machines/default/virtualbox/action_provision
wp-test/.vagrant/machines/default/virtualbox/action_set_name
wp-test/.vagrant/machines/default/virtualbox/box_meta
wp-test/.vagrant/machines/default/virtualbox/creator_uid
wp-test/.vagrant/machines/default/virtualbox/id
wp-test/.vagrant/machines/default/virtualbox/index_uuid
wp-test/.vagrant/machines/default/virtualbox/private_key
wp-test/.vagrant/machines/default/virtualbox/synced_folders
wp-test/.vagrant/machines/default/virtualbox/vagrant_cwd
wp-test/.vagrant/rgloader/loader.rb
